node_modules
dist
build
coverage
.git
.next
.nuxt
out
.cache
.parcel-cache
.vuepress/dist
.serverless/
.fusebox/
.dynamodb/
.tern-port
.env
.env.local
.env.*.local
pnpm-debug.log*
npm-debug.log
yarn-debug.log
yarn-error.log
lerna-debug.log
.vercel
.output
.DS_Store

# Playwright reports
playwright-report/
test-results/
